/* Historical.css */
.Historical {
    background-color: rgb(29, 29, 29);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    padding: 1rem;
    color: white; /* Pour que le texte soit visible sur le fond sombre */
    overflow-y: auto; /* Pour permettre le défilement si le contenu dépasse la hauteur */
}

.Historical h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.Historical ul {
    list-style-type: none;
    padding-left: 0;
}

.Historical li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    border-radius: 0.25rem;
}

.Historical li:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
